{% extends '../base.html' %}
{% load staticfiles %}

{% block content %}
<div class="verify-container">
    <div class="verify-inner-container">
        <img src="{% static 'images/logo2.png' %}" sizes="32x32" id='logo'>
        <img src="{% static 'images/mail.png' %}" sizes="32x32" id='email'>
        <p>VERIFY YOUR EMAIL ADDRESS</p>
        <h1> We need to verify your email address. We've sent a verification code to your email address. <br />Please click the link in that <a href="{% url 'verication-code' %}">email</a> to continue.</h1>
    </div>
</div>
{% endblock %}